/* taken root font size as 1rem =10px */
@import "src/styles/variables";
.card {
  color: $white;
  width: 100%;
  background: linear-gradient(
    to right,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c
  );
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 976px) {
    justify-content: center;
  }
  .card__container-footer {
    color: $white;
  }

  .card__container {
    padding: 1.5rem;
    height: 24rem;
    width: 20rem;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
      url("../../../assets//Nobel_Prize.png") no-repeat center center;
    margin: 2rem;
    text-align: center;
    .card__container-heading {
      color: $text-golden;
    }
    .card__container-content {
      padding: 0.5rem;
      p {
        font-style: italic;
        opacity: 0.8;
        margin-bottom: 15px;
      }
      h3,
      h2 {
        color: $text-golden;
      }
    }
  }
}
.pagination {
  margin: 26rem 1rem 5rem 20rem;
}
.ant-pagination {
  .ant-pagination-options {
    display: none;
  }
}
