.demo {
  position: relative;
  z-index: 1;

  margin: 3rem;
  .items {
    display: flex;
    button {
      margin-left: 1rem;
    }
  }

  .modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: -1;

    .modal-container {
      height: 300px;
      width: 500px;
      background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        margin-left: 3rem;
      }
    }
  }
}
