.nobel-prize-winners {
  .nobel-prize-winners__filter,
  h1 {
    margin: 2rem;
  }
  h1 {
    font-size: 30px;
  }
  span {
    padding-right: 10px;
    font-weight: bold;
  }
  .ant-select {
    margin-left: 20px;
  }
}
